@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Playfair+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    margin: 40px 0;
}
.border{
    display: flex;  
    align-items: center;
    margin-left: 150px;
}
.title-text{
    padding-left: 20px;
}
.fa-bars{
    padding-left: 65%;
    font-weight: 100;
}
header{
    margin-top: 120px;
}
.text-bold{
    font-family: Montserrat, sans-serif;
    font-weight: 900;
} 
.font-serif{
    font-family: 'Playfair Display', serif;
    font-weight: 70;
}
.top-text{
    width: 100%;
    padding-left: 200px;
    padding-bottom: 50px;
    color: #333;
    font-size: 2.2rem;
}               
.container{
    margin-top: 50px;
}
.grids{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item_1{
    grid-row-start: 1;
    grid-row-end: 3;
}
.item_5{
    grid-column-start: 1;
    grid-column-end: 2;
}
.item_6{
   margin-top: 100px;   
   margin-left: 100px;
   font-weight: 400;
   font-size: 20px;
}
.what{
    background: none;
    border: none;
    border-bottom: 1px solid #8F45BA;
    color: #8F45BA;
    padding-bottom: 12px;
}
.item_7{
    display: grid;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.welcome{
    margin-left: 110px;
    margin-top: 90px;
     height: 20px;
}
.right{
    display: flex;
     justify-content: flex-end;
     margin-right: 50px;
     margin-left: 50px;
     margin-top: 10px;
}
.right li{
    list-style: none;
    text-decoration: none;
    margin: 20px;
    padding: bottom 12px;
}
.left{
   margin-left:20px;
   margin-right: 20px;
}
.left li{
    list-style: none;
    text-decoration: none;
    color: black;
}
.cookie{ 
    margin-left: 65%;
    padding: 8px 10px; 
    background: #DEDFE0;
    border: none;
}
.tagi{
    margin-top: 70px;
}
.room{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    font-size: 15px;
    margin-left: 50px;
    margin-top: 10px;
}

.contact{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    color: #3d3d4b;
    background: #fd0;
    padding: 20px;
    text-decoration: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 11;
    overflow: hidden;
    margin: 0 20px 40px 0;
    cursor: pointer;
}
.contact a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}  
.contact:hover{
    width: 177px;
    transition: 0.8s;
}
.contact:hover::after{
    content: attr(data-hover);
    font-size: 1.4rem;
    font-family: 'Playfair Display', serif !important;
    padding-left: 15px;
}  
.text img:hover{
    background-color: #fd0;
}
.text1:hover{
    background-color: #fd0;
}
.text1:hover::after{
    content: attr(data-hover);
    background-color: #fd0;
}









 